@font-face {
    font-family: digital;
    src: url(fonts/digital-7.ttf);
}

@font-face {
    font-family: quizTitle;
    src: url(fonts/pricedown\ bl.otf);
}

@font-face {
    font-family: quiz;
    src: url(fonts/Cafe\ Francoise_D.otf);
}

@keyframes SlideInFromTop {
    from {
        transform: translateY(-500px);
    }

    to {
        transform: translateY(0);
    }
}

@keyframes SlideInFromLeft {
    from {
        transform: translateX(-1128px);
    }

    to {
        transform: translateX(0px);
    }
}

@keyframes SlideInFromBottom {
    from {
        transform: translateY(+856px);
    }

    to {
        transform: translateY(0px);
    }
}

.rakkas-regular {
    font-family: "Rakkas", serif;
    font-weight: 300;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
    /* justify-content: center; remember to change in JS for end screen */
    margin: 20px;
    padding: 0px;
    height: 100vh;
    background-color: #56585c;
    /* background-color: #2f3c50; */
}

.title {
    font-family: quizTitle;
    text-align: center;
    color: yellow;
    border: 3px solid yellow;
    border-radius: 10px;
    padding: 0px 300px 0px 300px;
    margin: 0 auto;
}

/* main start screen */
#start-screen {
    display: flex;
    flex-direction: column;
}

.start-main {
    display: flex;
    justify-content: space-between;
}

.instructions {
    margin: 50px 0px 0px 200px;
    font-family: "Courier New", Courier, monospace;
    font-size: x-large;
    font-weight: bold;
    max-width: 500px;
    color: rgb(255, 255, 0);
}

.difficulty-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    margin: 0px 200px 0px 0px;
    gap: 25px;
}

button {
    height: 75px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: x-large;
}

#easy-button {
    color: #1d7e3d;
    background-color: rgb(182, 252, 182);
    border: 3px solid #2e9551;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#easy-button:hover {
    color: white;
    transform: scale(1.03);
    background-color: #2e9551;
}

#easy-button:active {
    border: 0px;
    background-color: #2e9550c0;
}

#medium-button {
    color: #ce9700;
    background-color: #ecdeb5;
    border: 3px solid #cc9600;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#medium-button:hover {
    color: white;
    transform: scale(1.03);
    background-color: #cc9600;
}

#medium-button:active {
    border: 0px;
    background-color: #cc9600ea;
}

#hard-button {
    color: #ff0000;
    background-color: #ee9494;
    border: 3px solid #ff3434;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

#hard-button:hover {
    color: white;
    transform: scale(1.03);
    background-color: #ff3434;
}

#hard-button:active {
    border: 0px;
    background-color: #ff3434a8;
}

/* main question screen */
#question-screen {
    display: none;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
}

.question-number {
    color: white;
    font-size: 40px;
    font-family: quiz;
}

.timer {
    color: white;
    font-family: digital;
    font-size: 50px;
    text-align: center;
}

.score {
    color: white;
    font-size: 40px;
    font-family: quiz;
}

.question-container {
    display: flex;
    color: white;
    /* border: 3px solid yellow; */
    font-family: quiz;
    font-size: 30px;
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px 300px 20px 300px;
    margin: 0 auto;
}

.answer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.answer-options {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    font-family: quiz;
    text-align: left;
    border: 5px solid yellow;
    box-shadow: 3px 2px 5px black;
    transition: transform 0.3s, border 0.3s, background-color 0.3s;
}

.answer-options:hover {
    transform: scale(1.03);
    background-color: white;
}

.answer-options:active {
    border: 5px solid rgba(255, 255, 132, 0.644);
    background-color: rgba(255, 255, 255, 0.753);
}

.next-question {
    background-color: white;
    width: 600px;
    border-radius: 10px;
    font-family: quiz;
    text-align: left;
    border: 5px solid yellow;
    box-shadow: 3px 2px 5px black;
    transition: transform 0.3s, border 0.3s, background-color 0.3s;
    display: none;
}

.next-question:hover {
    transform: scale(1.03);
    background-color: white;
}

#end-screen {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.final-score-container {
    display: flex;
    flex-direction: column;
}

.final-score-title {
    animation: SlideInFromTop 1.5s forwards;
}

.final-score {
    transform: translateX(-1128px);
    animation: SlideInFromLeft 2s forwards;
}

.final-score,
.final-score-title {
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: quiz;
    font-size: 60px;
}

.end-screen-buttons-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    gap: 20px;
}

.end-screen-buttons {
    transform: translateY(+856px);
    animation: SlideInFromBottom 1s forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 600px;
    border-radius: 10px;
}

.end-screen-buttons:hover {
}

.end-screen-buttons:active {
}
